@import '../../colors'

#home
    color: white
    overflow-x: hidden
    
    div
        max-width: 100%
    
    #first
        background-image: url('../../img/group.jpg')
        background-size: cover
        background-repeat: no-repeat
        display: flex
        flex-direction: column
        justify-content: center
        height: 100vh
        padding-top: 44px
        padding-left: 173px
        
        #white-line
            width: 1px
            height: 100%
            background-color: white
            position: absolute
            left: 105px
            top: 0

        h1
            font-size: 53px
            line-height: 68px
            letter-spacing: -0.05px
            color: white
            width: 709px
            font-weight: 600
            margin-top: 0
            
            span
                color: $sickly-yellow
            
        .button
            border: 1px solid white
            border-radius: 26.5px
            width: 269px
            height: 53px
            line-height: 53px
            padding-left: 30px
            font-size: 13px;
            letter-spacing: 1px;
            transform: translateY(-30px);

            #arrow-button
                filter: brightness(0) invert(1)
                transition: .4s

            &:hover #arrow-button
                transform: translateX(10px)

    #second
        background-color: #f3f4f8
        min-height: 392px;
        padding-top: 72px
        padding-left: 34%

        h2
            font-size: 50px
            line-height: 57px
            letter-spacing: -0.06px
            color: #1e2335
            height: 151px
            width: 555px
            display: inline-flex
            align-items: center
        
        #description
            display: flex

        p
            color: #787878
            font-size: 18px
            line-height: 32px
            letter-spacing: 0.51px
            width: 393px
            height: 87px
            display: inline-flex
            align-items: center

        .button
            border: 1px solid #282e47
            border-radius: 26.5px
            width: 234px
            height: 53px
            color: #273048
            line-height: 53px
            padding-left: 38px
            font-size: 13px
            letter-spacing: 1px
            margin-top: 34px
            margin-left: 162px

            #arrow-button
                transition: .4s
            
            &:hover #arrow-button
                transform: translateX(10px)

    #third
        min-height: 468px
        display: inline-flex
     
        #raquetas-slider
            display: flex
            align-items: center
            width: calc(99vw - 535px);
            overflow: auto;

        .raqueta
            display: inline-block
            margin: 0 35px

    #fourth
        background-image: url(../../img/action-athlete-ball-342361.png)
        background-repeat: no-repeat
        background-size: cover
        height: 586px
        margin-top: -6px

@media screen and (max-width: 1024px)
    #home
        #first
            #white-line
                left: 80px

            h1
                width: 610px
        
        #second
            padding-left: 25%

            .button
                margin: 20px 0

@media screen and (max-width: 425px)
    #home
        #first
            padding: 90px

            h1
                width: 80%

            .button
                width: 230px
                padding-left: 10px

        #second
            padding-left: 8%
            h2
                font-size: 30px

            #description
                flex-direction: column;

        #third
            display: block

            #raquetas-slider
                width: 100%
                padding: 25px
