@import '../../colors'
    
#footer
    bottom: 0
    height: 203px
    background-color: $sickly-yellow    
    padding-left: 78px
    padding-top: 64px
    position: relative

    ul
        display: flex
        justify-content: space-between
        padding: 0
    li
        display: inline-block

    #footer-menu
        width: 451px
        max-width: 100%
        
        ul
            height: 37px
            line-height: 37px

        a
            color: #2b3049
            font-size: 13px
            
            &.active
                font-family: 'HelveticaNeueBold'
                letter-spacing: 1.4px

    .social-icon
        width: 31px
        height: 31px
        margin-right: 12px

    #logo-footer
        width: 55px
        height: 55px
        position: absolute
        right: 63px
        bottom: 71px